
<%= form_for(@group) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <div class="field">
<%= f.select :group_spe, options_for_select([
  ["Select One", ""], 
  "Rap/Trap/Drill/Alternatif/Hip-Hop", 
  "Rock/Alternatif/Pop/Metal", 
  "Pop", 
  "RnB",
  "Electro"]), 
  {}, { class: "form form-group form-control" } %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>