<%= form_for @user, url: wizard_path, method: :put do |f| %>
<div class="field">
	<%= f.label :first_name %><br/>
	<%= f.text_field :first_name %>
</div>

<div class="field">
	<%= f.label :last_name %><br/>
	<%= f.text_field :last_name %>
</div>

<div class="field">
<%= f.select :speciality_1, options_for_select([
  ["Select One", ""], 
  "Beatmaker", 
  "Singer", 
  "Guitarist", 
  "Pianist", 
  "Rapper",
  "Producer",
  "Sound engineer",
  "writter",
  "Bass player",
  "Drummer"]), 
  {}, { class: "form form-group form-control" } %>
</div>

<%= f.submit "Update" %>
<% end %>